.Contact {
  width: 100%;
  text-align: left;}
  .Contact > div {
    display: inline-block;
    width: 50%;
    vertical-align: top;}
    .Contact > div:last-child {
      width: 100%;
      margin-bottom: 20px;}
  .Contact input[type=text] {
    display: block;
    margin: 20px;
    border-radius: 3px;
    line-height: 1.8em;
    border: 1px solid grey;
    padding: 0 10px;
    box-shadow: 1px 1px 5px 0 grey;}
    .Contact input[name=name] {
      width: 300px;}
    .Contact input[name=street] {
      width: 200px;}
    .Contact input[name=zip] {
      display: inline-block;
      margin-top: 0;
      margin-right: 0;
      width: 45px;
      text-align: center;}
    .Contact input[name=city] {
      display: inline-block;
      margin-top: 0;
      width: 213px;}
  .Contact textarea {
    margin: 20px;
    width: 80%;
    height: auto;
    border-radius: 3px;
    line-height: 1.8em;
    border: 1px solid grey; 
    resize: none;
    box-shadow: 1px 1px 5px 0 grey;
    padding: 0 10px;}
  .Contact label {
    font-size: 0.9em;
    margin: 0 20px;}
  .Contact input[type=checkbox] {
    margin-right: 10px;}