@media (max-width: 868px) and (min-width: 635px), (min-width: 635px) and (hover: none){
    .Categories div > ul > li > a {
        padding: 0;}
    .Categories a:not(:only-child):hover ~ .sub1 {
        display: none;}
    .Categories div > ul li > ul.sub1 {
        margin-top: 20px;}
}