.UserInfo {
    width: 50%;
    text-align: right;}
    .UserInfo > div {
        display: inline-block;
        margin: 0 10px;}
    .UserInfo span {
        font-size: 0.8em;
        font-weight: 900;}
    .UserInfo i {
        font-size: 1.8em;
        vertical-align: middle;}
