.Title > h1 {
    font-size: 1.85em;
    font-weight: normal;}
.Title > span {
    font-weight: bold;
    font-size: 1.5em;
    display: block;}
.Title a {
    width: 80%;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid;
    background: black;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 5px grey;
    line-height: 3em;
    display: block;
    text-align: center;
    text-decoration: none;}
    .Title a:hover {
        box-shadow: 2px 2px 5px grey;
        opacity: 0.8;}
    .Title a:focus {
        outline: none;
        box-shadow: none;}
