.Subcategories {
    text-align: left;}
    .Subcategories li {
        display: inline-block;
        width: 270px;
        margin: 0 10px;
        padding: 10px;
        vertical-align: top;
        border: 1px solid #e2e2e2;
        box-shadow: 3px 4px 6px 2px #c0c0c0}
        .Subcategories li img {
            max-width: 100%;
            border-radius: 5px;}
        .Subcategories li h1 {
            font-size: 1.5em;
            font-weight: normal;}