@media(max-width: 667px) {
    .ProductItem {
        height: 50px;
        font-size: 0.8em;
        padding: 10px 0;
        border-bottom: 1px solid grey;}
        .ProductItem .Remove {
            position: absolute;
            right: 0;
            top: -20px;}
        .ProductItem > div:last-child > div {
            position: relative;
            top: auto;}
            .ProductItem > div:last-child > div:first-child {
                top: 0;}
            .ProductItem > div:last-child > div:last-child {
                position: absolute;
                left:0;
                bottom:0;}
}