body {
    margin: 0;
    padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}
.App {
    font-family: sans-serif;
    text-align: center;
    padding: 0;
    overflow-x: hidden;}

.container {
    margin: auto;
    max-width: 1365px;
    position: relative;}
    
.Cart {
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;}
  .Cart > div {
    display: inline-block;
    vertical-align: top;}
  .Cart .List {
    width: 75%;}
  .Cart > div:nth-child(2) {
    width: 20%;
    padding-left: 5%;
    margin-top: 20px;}
  .Cart .Payments {
    margin-top: 30px;}
.Contact {
  width: 100%;
  text-align: left;}
  .Contact > div {
    display: inline-block;
    width: 50%;
    vertical-align: top;}
    .Contact > div:last-child {
      width: 100%;
      margin-bottom: 20px;}
  .Contact input[type=text] {
    display: block;
    margin: 20px;
    border-radius: 3px;
    line-height: 1.8em;
    border: 1px solid grey;
    padding: 0 10px;
    box-shadow: 1px 1px 5px 0 grey;}
    .Contact input[name=name] {
      width: 300px;}
    .Contact input[name=email] {
      display: inline-block;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      width: 158px;}
    .Contact input[name=tel] {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      width: 100px;
      text-align: center;}
    .Contact input[name=street] {
      width: 300px;}
    .Contact input[name=zip] {
      display: inline-block;
      margin-top: 0;
      margin-right: 0;
      width: 45px;
      text-align: center;}
    .Contact input[name=city] {
      display: inline-block;
      margin-top: 0;
      width: 213px;}
  .Contact textarea {
    margin: 20px;
    width: 80%;
    height: auto;
    border-radius: 3px;
    line-height: 1.8em;
    border: 1px solid grey; 
    resize: none;
    box-shadow: 1px 1px 5px 0 grey;
    padding: 0 10px;}
  .Contact label {
    font-size: 0.9em;
    margin: 0 20px;}
  .Contact input[type=checkbox] {
    margin-right: 10px;}
.Payments {
    text-align: left;}
  .Payments h1 {
    font-size: 1.3em;
    margin: 5px 0;}
  .Payments span {
    font-size: 0.8em;
    line-height: 1.8em;
    font-style: italic;}
.Category > div {
    margin: 10px 0;
}
.Subcategories {
    text-align: left;}
    .Subcategories li {
        display: inline-block;
        width: 270px;
        margin: 0 10px;
        padding: 10px;
        vertical-align: top;
        border: 1px solid #e2e2e2;
        box-shadow: 3px 4px 6px 2px #c0c0c0}
        .Subcategories li img {
            max-width: 100%;
            border-radius: 5px;}
        .Subcategories li h1 {
            font-size: 1.5em;
            font-weight: normal;}
.Content > div {
    opacity: 0;}

#root.visible .Content > div {
    opacity: 1;
    transition: opacity 500ms;}
.About {
    margin: 20px 0;
    position: relative;}
    .About::before {
        content: '';
        height: 100%;
        background: #e9fbd1;
        position: absolute;
        left: -50%;
        right: -50%;
        z-index: -1;}
    .About li {
        width: 24.5%;
        display: inline-block;
        vertical-align: top; }
        .About li > div {
            padding: 20px;
            font-style: italic;}
    .About h1 {
        font-size: 1.7em;
        font-weight: normal;}
    .About p {
        font-size: 0.95em;
        line-height: 1.4em;}

.Popular {
    text-align: left;
    max-width: 1100px;
    margin: auto;}
    .Popular > span {
        padding-left: 10px;
        font-size: 1.5em;
        line-height: 2em;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.TopBanner {
    height: 300px;
    margin: 20px 0;}
    .TopBanner > div {
        height: 100%;}
    .TopBanner img {
        max-height: 100%;
        border-radius: 5px;}
    .TopBanner .imagesList {
        height: 100%;
        display: inline-block;}
        .TopBanner #imagesList1 li {
            height: 100%;}
    .TopBanner #imagesList2 {
        margin-left: 10px;}
    .TopBanner #imagesList2 li:first-child {
        height: 67%;
        margin-bottom: 5%;}
    .TopBanner #imagesList2 li:last-child {
        height: 30%;}
.Order {
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;}
.OrderSummary {
    margin: 20px 0;}
    .OrderSummary h1 {
        font-size: 1.5em;
        margin: 5px 0;}
.Gallery {
    position: relative;}
    .Gallery li .nav {
        width: 100px;
        margin: 5px 0;}
        .Gallery li .nav img {
            width: 100%;
            display: block;
            border-radius: 5px;
            box-shadow: 2px 2px 3px 1px #808080ad;
            opacity: 0.5;}
    .Gallery .main {
        position: absolute;
        top: 0;
        left: 50%;
        display: none;
        z-index: 99;}
        .Gallery .main img {
            margin-left: -50%;}
    .Gallery li:first-child .main {
      display: block;
      z-index: 1;}  
    .Gallery li:hover .main {
        display: block;}
    .Gallery li:hover .nav img {
        opacity: 1;}

.Product {
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;}
    .Product > div {
        display: inline-block;
        vertical-align: top;
        text-align: left;}
    .Product .Gallery,
    .Product .Reviews {
        width: 70%;}
    .Product .Title,
    .Product .Specification,
    .Product .Shipping {
        width: 30%;}
    .Product .Specification,
    .Product .Shipping {
        float: right;}
    .Product .Specification {
        margin-bottom: 50px;}
    .Product .Reviews,
    .Product .Shipping {
        margin-bottom: 50px;}
    .Product .Reviews {
        float: left;}
    .Product .desc {
        float: left;
        width: 70%;
        margin-bottom: 50px;}
        .Product .desc h1 {
            font-size: 1.5em;
            text-transform: capitalize;}
        .Product .desc div {
            font-size: 0.9em;
            padding-right: 20px;}

.Specification h1 {
    font-size: 1.1em;
    margin: 30px 0 5px;
    text-transform: uppercase;}
.Specification .desc {
    margin-top: 50px;}
    .Specification .desc h1 {
        font-size: 1.5em;
        text-transform: capitalize;}
    .Specification .desc span {
        font-size: 0.9em;}

.Title > h1 {
    font-size: 1.85em;
    font-weight: normal;}
.Title > span {
    font-weight: bold;
    font-size: 1.5em;
    display: block;}
.Title a {
    width: 80%;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid;
    background: black;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 5px grey;
    line-height: 3em;
    display: block;
    text-align: center;
    text-decoration: none;}
    .Title a:hover {
        box-shadow: 2px 2px 5px grey;
        opacity: 0.8;}
    .Title a:focus {
        outline: none;
        box-shadow: none;}

.Review {
    text-align: left;}
    .Review h1 {
        font-size: 1.8em;
        font-weight: normal;}
    .Review input[type=text] {
        display: block;
        margin: 20px;
        border-radius: 3px;
        line-height: 1.8em;
        border: 1px solid grey;
        padding: 0 10px;
        box-shadow: 1px 1px 5px 0 grey;}
    .Review textarea {
        margin: 20px;
        width: 80%;
        height: auto;
        border-radius: 3px;
        line-height: 1.8em;
        border: 1px solid grey; 
        resize: none;
        box-shadow: 1px 1px 5px 0 grey;
        padding: 0 10px;}
.Amount {
    display: inline-block;}
    .Amount span {
        margin: 0 10px;
        vertical-align:middle;
        font-weight: bold;}
    .Amount a {
        border-radius: 5px;
        background: white;
        outline: none;
        box-shadow: 1px 1px 1px grey;
        border: 1px solid grey;
        font-size: 0.6em;
        vertical-align:middle;
        padding: 5px 7px;}
        .Amount a:hover {
            box-shadow: 1px 1px 1px lightgrey;}
    .Amount a.disabled {
        box-shadow: none;
        opacity: 0.5;
        cursor: default;}

.ProductItem {
  position: relative;
  text-align: left;
  margin: 5px 0;
  height: 100px;}
  .ProductItem > div {
    display: inline-block;}
    .ProductItem > div:first-child {
      height: 100%;
      vertical-align: top;
      max-width: 17%;}
      .ProductItem > div:first-child img {
        vertical-align: middle;
        border-radius: 5px;
        box-shadow: 1px 1px 3px 1px #bbb;
        width: 100%}
    .ProductItem > div:last-child {
      width: 83%;
      position: relative;
      height: 100%;}
     .ProductItem > div:last-child span {
        margin: 0 12px;
        text-transform: uppercase;
        font-style: italic;
        font-size: 0.95em;
        vertical-align: middle;}  
      .ProductItem > div:last-child > div{
        display: inline-block;
        position: absolute;
        top: 50%;
        margin-top: -1em;}        
        .ProductItem > div:last-child > div:last-child {
          right: 0;}
    .ProductItem .Remove {
        border: none;
        cursor: pointer;
        margin-left: 20px;}
.Description {
    text-align: left;}
    .Description h1 {
        font-size: 1.8em;
        font-weight: normal;}
.ProductList {
    text-align: left;
    margin: auto;}
    .ProductList li {
        display: inline-block;
        margin-bottom: 20px;
        width: calc(100% / 6);
        vertical-align: top;}
    .ProductList li > div {
        margin: 0 10px;
        text-align: right;}
    .ProductList .photo {
        height: 135px;
        margin-bottom: 8px;}
    .ProductList li img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        display: block;
        border-radius: 5px;
        box-shadow: 1px 1px 3px 1px #bbb;}
    .ProductList li:hover img {
        box-shadow: 0 0 6px 4px #bbb;
        opacity: 0.8;
        transition: box-shadow 1s;}
    .ProductList li strong {
        margin: 0 3px 0 5px;}
    .ProductList li h3 {
        font-size: 1em;
        white-space: nowrap;
        margin: 2px 0 5px;
        text-align: left;
        font-weight: normal;
        font-style: italic;}

.Shipping {
    text-align: left;}
  .Shipping h1 {
    font-size: 1.3em;
    margin: 5px 0;}
  .Shipping span {
    font-size: 0.8em;
    line-height: 1.8em;
    font-style: italic;}
  .Shipping:not(.editable) li::before {
    display: inline-block;
    width: 6px;
    height: 1px;
    background: black;
    content: " ";
    vertical-align: middle;
    margin-right: 5px;}
.Summary {
  width: 100%;}
  .Summary h1 {
    font-size: 1.5em;
    margin: 5px 0;}
  .Summary span {
    font-size: 0.9em;
    display: inline-block;}
    .Summary span:first-child {
      width: 80%;
      text-align: left;}
    .Summary span:last-child {
      width: 20%;
      text-align: right;}
  .Summary div:nth-child(3) {
    margin: 5px 0;
    line-height: 1.5em;
    font-weight: bold;}
    .Summary div:nth-child(3) span:last-child {
      border-top: 1px solid black;}
  .Summary a {
    width: 200px;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid;
    background: black;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 5px grey;
    line-height: 2.8em;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;}
    .Summary a:hover {
      box-shadow: 2px 2px 5px grey;
      opacity: 0.8;}
    .Summary a:focus {
      outline: none;
      box-shadow: none;}
    .Summary a.disabled {
        box-shadow: none;
        opacity: 0.5;
        cursor: default;}
.Checkbox {
  display: inline;
  color: green;
  position: relative;
  vertical-align: middle;}
  .Checkbox .empty {
    content: " ";
    width: 0.72em;
    height: 0.72em;
    border: 0.5px solid #bbb;
    display: inline-block;
    position: absolute;
    top: 0.015em;
    left: 0.05em;
    z-index: -1;}
  .Checkbox i.icofont-tick-boxed {
    display: none;
    position:absolute;
    left: 0;
    top: 0;}
  .Checkbox input {
    opacity:0;
    z-index: 9999;
    position: relative;}
    .Checkbox input:checked ~ i.icofont-tick-boxed {
      display: inline;}
    .Checkbox input:checked ~ i.empty {
      display: none;}
.Radio {
  display: inline;
  color: green;
  position: relative;
  vertical-align: middle;}
  .Radio .empty {
    content: " ";
    width: 0.72em;
    height: 0.72em;
    border: 0.5px solid #bbb;
    display: inline-block;
    position: absolute;
    top: 0.015em;
    left: 0.05em;
    z-index: -1;}
  .Radio i.icofont-tick-boxed {
    display: none;
    position:absolute;
    left: 0;
    top: 0;}
  .Radio input {
    opacity:0;}
    .Radio input:checked ~ i.icofont-tick-boxed {
      display: inline;}
    .Radio input:checked ~ i.empty {
      display: none;}
.Rating {
    width: 105px;
    margin: 20px;
    font-size: 25px;
    overflow:hidden;}
    .Rating input {
        float: right;
        opacity: 0;
        position: absolute;}
    .Rating a,
    .Rating label {
        float:right;
        color: #aaa;
        text-decoration: none;
        -webkit-transition: color .4s;
        -moz-transition: color .4s;
        -o-transition: color .4s;
        transition: color .4s;}
    .Rating label:hover ~ label,
    .Rating input:focus ~ label,
    .Rating label:hover,
    .Rating a:hover,
    .Rating a:hover ~ a,
    .Rating a:focus,
    .Rating a:focus ~ a	{
        color: orange;
        cursor: pointer;}
.Footer {
    padding: 0 25% 50px;
    margin: 50px 0 0;
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: left;
    background: #dadeec;
    box-shadow: 0px -11px 17px 5px #dadeec;
    clear:both;}
    .Footer a {
        color: #9a98a9;}
    .Footer > ul > li {
        width: 33.3333%;
        display: inline-block;
        vertical-align: top; }
    .Footer h1 {
        font-size: 1.4em;}
    .Footer li > div {
        padding: 0 30%;}

@media(max-width: 635px) {
    .Categories {
        text-align: left;
        margin-top: 0;
        overflow-y: scroll;
        overflow-x: hidden;}
    .Categories .nav {
        display: inline-block;}
    .Categories a:not(:only-child)::after {
        content: "\ea5d";
        pointer-events: none;
        position: absolute;
        right: 10px;
        font-family: IcoFont;
        font-size: 1.5em;}
    .Categories:hover div > ul {
        display: block;}
    .Categories div > ul {
        display: none;
        background: white;
        margin: 0;
        width: 100%;
        left: 0;
        text-align: left;
        z-index: 99999;
        position: relative;}
        .Categories div > ul li{
            display: block;}
        .Categories div > ul li:hover > a {
            border: none;}
        .Categories div > ul > li:hover .sub1 {
            left: 0;}
        .Categories a:not(:only-child):hover ~ .sub1 {
            left: 100%;}
        .Categories div > ul li > ul.sub1 {
                top: 0;
                left: 100%;
                display:block;
                border: none;
                font-size: 1em;
                line-height: inherit;
                min-height: 100%;
                padding: 0 15px;
                box-sizing: border-box;
                width: 100%;
                transition: left 0.5s;}
}
@media (max-width: 868px) and (min-width: 635px), (min-width: 635px) and (hover: none){
    .Categories {
        padding-bottom: 20px;}
    .Categories div > ul > li > a {
        padding: 0;}
    .Categories a:not(:only-child):hover ~ .sub1 {
        display: none;}
    .Categories a:not(:only-child)::after {
        content: "\ea5b";
        pointer-events: none;
        position: absolute;
        bottom: -8px;
        margin-left: -50px;
        font-family: IcoFont;
        font-size: 1.5em;}
    .Categories div > ul li > ul.sub1 {
        margin-top: 20px;}
}
.Categories{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    margin-top: -15px;
    width: 100%;}
    .Categories a {
        color: black;}
    .Categories .nav {
        display: none;
        font-size: 1.4em;
        width: 20%;
        text-align: center;
        margin-bottom: 0.5em;}
    .Categories div > ul > li {
        display: inline-block;
        vertical-align: top;
        margin: 0 15px;
        line-height: 2.5em;
        cursor: pointer;}
    .Categories div > ul li:hover > a {
      border-bottom: 2px solid #000;}
        .Categories div > ul > li > a {
            padding-bottom: 8px;}
        .Categories div > ul > li .sub1 {
            position: absolute;
            display: none;
            background: #fff;
            border: 2px solid #ddd;
            border-top: 1px solid #ddd;
            border-radius: 0 0 8px 8px;
            padding: 10px;
            line-height: 2em;
            font-size: 0.8em;
            z-index: 9999999;}
        .Categories div > ul > li:hover .sub1 {
            display: block;}
.Header {
    border-bottom: 1px solid #ddd;}
    .Header .container > div {
        display: inline-block;}
@media(max-width: 868px) {
    .Logo img {
        height: 70px;}
}
.Logo {
    width: 50%;
    text-align: left;}
    .Logo img {
        height: 100px;
        vertical-align: middle; }

@media(max-width: 635px) {
    .Search {
        top: 4em;
        width: 70%;
        margin: 0;
        left: 20%}
}
@media(max-width: 868px) {
    .Search {
        top: 1em;}
}
.Search {
    position: absolute;
    left: 0;
    top: 2em;
    width: 60%;
    margin: 0 20%;}
    .Search .wrapper {
        background: #ddd;
        border-radius: 20px;
        padding: 0 20px;}
        .Search input {
            font-size: 16px;
            outline: none;
            border: none;
            background: transparent;
            line-height: 2.2em;
            width: 100%;}
            .Search .wrapper:hover,
            .Search .wrapper:focus-within {
                background: white;
                border: 1px solid #ddd;}
.UserInfo {
    width: 50%;
    text-align: right;}
    .UserInfo > div {
        display: inline-block;
        margin: 0 10px;}
    .UserInfo span {
        font-size: 0.8em;
        font-weight: 900;}
    .UserInfo i {
        font-size: 1.8em;
        vertical-align: middle;}
