.ProductList {
    text-align: left;
    margin: auto;}
    .ProductList li {
        display: inline-block;
        margin-bottom: 20px;
        width: calc(100% / 6);
        vertical-align: top;}
    .ProductList li > div {
        margin: 0 10px;
        text-align: right;}
    .ProductList .photo {
        height: 135px;
        margin-bottom: 8px;}
    .ProductList li img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        display: block;
        border-radius: 5px;
        box-shadow: 1px 1px 3px 1px #bbb;}
    .ProductList li:hover img {
        box-shadow: 0 0 6px 4px #bbb;
        opacity: 0.8;
        transition: box-shadow 1s;}
    .ProductList li strong {
        margin: 0 3px 0 5px;}
    .ProductList li h3 {
        font-size: 1em;
        white-space: nowrap;
        margin: 2px 0 5px;
        text-align: left;
        font-weight: normal;
        font-style: italic;}

.Subcategories {
    text-align: left;}
    .Subcategories li {
        display: inline-block;
        width: 270px;
        margin: 0 10px;
        padding: 10px;
        vertical-align: top;
        border: 1px solid #e2e2e2;
        box-shadow: 3px 4px 6px 2px #c0c0c0}
        .Subcategories li img {
            max-width: 100%;
            border-radius: 5px;}
        .Subcategories li h1 {
            font-size: 1.5em;
            font-weight: normal;}
.Description {
    text-align: left;}
    .Description h1 {
        font-size: 1.8em;
        font-weight: normal;}
.Category > div {
    margin: 10px 0;
}
.Content > div {
    opacity: 0;}

#root.visible .Content > div {
    opacity: 1;
    transition: opacity 500ms;}
.TopBanner {
    height: 300px;
    margin: 20px 0;}
    .TopBanner > div {
        height: 100%;}
    .TopBanner img {
        max-height: 100%;
        border-radius: 5px;}
    .TopBanner .imagesList {
        height: 100%;
        display: inline-block;}
        .TopBanner #imagesList1 li {
            height: 100%;}
    .TopBanner #imagesList2 {
        margin-left: 10px;}
    .TopBanner #imagesList2 li:first-child {
        height: 67%;
        margin-bottom: 5%;}
    .TopBanner #imagesList2 li:last-child {
        height: 30%;}
.Popular {
    text-align: left;
    max-width: 1100px;
    margin: auto;}
    .Popular > span {
        padding-left: 10px;
        font-size: 1.5em;
        line-height: 2em;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.About {
    margin: 20px 0;
    position: relative;}
    .About::before {
        content: '';
        height: 100%;
        background: #e9fbd1;
        position: absolute;
        left: -50%;
        right: -50%;
        z-index: -1;}
    .About li {
        width: 24.5%;
        display: inline-block;
        vertical-align: top; }
        .About li > div {
            padding: 20px;
            font-style: italic;}
    .About h1 {
        font-size: 1.7em;
        font-weight: normal;}
    .About p {
        font-size: 0.95em;
        line-height: 1.4em;}

.Logo {
    width: 50%;
    text-align: left;}
    .Logo img {
        height: 100px;
        vertical-align: middle; }

@media(max-width: 868px) {
    .Logo img {
        height: 70px;}
}
.Search {
    position: absolute;
    left: 0;
    top: 2em;
    width: 60%;
    margin: 0 20%;}
    .Search .wrapper {
        background: #ddd;
        border-radius: 20px;
        padding: 0 20px;}
        .Search input {
            font-size: 16px;
            outline: none;
            border: none;
            background: transparent;
            line-height: 2.2em;
            width: 100%;}
            .Search .wrapper:hover,
            .Search .wrapper:focus-within {
                background: white;
                border: 1px solid #ddd;}
@media(max-width: 868px) {
    .Search {
        top: 1em;}
}
@media(max-width: 635px) {
    .Search {
        top: 4em;
        width: 70%;
        margin: 0;
        left: 20%}
}
.UserInfo {
    width: 50%;
    text-align: right;}
    .UserInfo > div {
        display: inline-block;
        margin: 0 10px;}
    .UserInfo span {
        font-size: 0.8em;
        font-weight: 900;}
    .UserInfo i {
        font-size: 1.8em;
        vertical-align: middle;}

.Categories{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    margin-top: -15px;
    width: 100%;}
    .Categories a {
        color: black;}
    .Categories .nav {
        display: none;
        font-size: 1.4em;
        width: 20%;
        text-align: center;
        margin-bottom: 0.5em;}
    .Categories div > ul > li {
        display: inline-block;
        vertical-align: top;
        margin: 0 15px;
        line-height: 2.5em;
        cursor: pointer;}
    .Categories div > ul li:hover > a {
      border-bottom: 2px solid #000;}
        .Categories div > ul > li > a {
            padding-bottom: 8px;}
        .Categories div > ul > li .sub1 {
            position: absolute;
            display: none;
            background: #fff;
            border: 2px solid #ddd;
            border-top: 1px solid #ddd;
            border-radius: 0 0 8px 8px;
            padding: 10px;
            line-height: 2em;
            font-size: 0.8em;
            z-index: 9999999;}
        .Categories div > ul > li:hover .sub1 {
            display: block;}
@media (max-width: 868px) and (min-width: 635px), (min-width: 635px) and (hover: none){
    .Categories {
        padding-bottom: 20px;}
    .Categories div > ul > li > a {
        padding: 0;}
    .Categories a:not(:only-child):hover ~ .sub1 {
        display: none;}
    .Categories a:not(:only-child)::after {
        content: "\ea5b";
        pointer-events: none;
        position: absolute;
        bottom: -8px;
        margin-left: -50px;
        font-family: IcoFont;
        font-size: 1.5em;}
    .Categories div > ul li > ul.sub1 {
        margin-top: 20px;}
}
@media(max-width: 635px) {
    .Categories {
        text-align: left;
        margin-top: 0;
        overflow-y: scroll;
        overflow-x: hidden;}
    .Categories .nav {
        display: inline-block;}
    .Categories a:not(:only-child)::after {
        content: "\ea5d";
        pointer-events: none;
        position: absolute;
        right: 10px;
        font-family: IcoFont;
        font-size: 1.5em;}
    .Categories:hover div > ul {
        display: block;}
    .Categories div > ul {
        display: none;
        background: white;
        margin: 0;
        width: 100%;
        left: 0;
        text-align: left;
        z-index: 99999;
        position: relative;}
        .Categories div > ul li{
            display: block;}
        .Categories div > ul li:hover > a {
            border: none;}
        .Categories div > ul > li:hover .sub1 {
            left: 0;}
        .Categories a:not(:only-child):hover ~ .sub1 {
            left: 100%;}
        .Categories div > ul li > ul.sub1 {
                top: 0;
                left: 100%;
                display:block;
                border: none;
                font-size: 1em;
                line-height: inherit;
                min-height: 100%;
                padding: 0 15px;
                box-sizing: border-box;
                width: 100%;
                transition: left 0.5s;}
}
.Header {
    border-bottom: 1px solid #ddd;}
    .Header .container > div {
        display: inline-block;}
.Footer {
    padding: 0 25%;
    margin: 50px 0 0px;
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: left;
    background: #dadeec;
    box-shadow: 0px -11px 17px 5px #dadeec;}
    .Footer a {
        color: #9a98a9;}
    .Footer > ul > li {
        width: 25%;
        display: inline-block;
        vertical-align: top; }
    .Footer h1 {
        font-size: 1.4em;}
    .Footer li > div {
        padding: 0 30%;}
}

body {
    margin: 0;
    padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}
.App {
    font-family: sans-serif;
    text-align: center;
    padding: 0;
    overflow-x: hidden;}

.container {
    margin: auto;
    max-width: 1365px;
    position: relative;}
    