.Logo {
    width: 50%;
    text-align: left;}
    .Logo img {
        height: 100px;
        vertical-align: middle; }
.Search {
    position: absolute;
    left: 0;
    top: 2em;
    width: 60%;
    margin: 0 20%;}
    .Search .wrapper {
        background: #ddd;
        border-radius: 20px;
        padding: 0 20px;}
        .Search input {
            font-size: 16px;
            outline: none;
            border: none;
            background: transparent;
            line-height: 2.2em;
            width: 100%;}
            .Search .wrapper:hover,
            .Search .wrapper:focus-within {
                background: white;
                border: 1px solid #ddd;}

.UserInfo {
    width: 50%;
    text-align: right;}
    .UserInfo > div {
        display: inline-block;
        margin: 0 10px;}
    .UserInfo span {
        font-size: 0.8em;
        font-weight: 900;}
    .UserInfo i {
        font-size: 1.8em;
        vertical-align: middle;}

.Categories{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    margin-top: -15px;
    width: 100%;}
    .Categories a {
        color: black;}
    .Categories .nav {
        display: none;}
    .Categories div > ul > li {
        display: inline-block;
        vertical-align: top;
        margin: 0 15px;
        line-height: 2.5em;
        cursor: pointer;}
    .Categories div > ul li:hover > a {
      border-bottom: 2px solid #000;}
        .Categories div > ul > li > a {
            padding-bottom: 8px;}
        .Categories div > ul > li .sub1 {
            position: absolute;
            display: none;
            background: #fff;
            border: 2px solid #ddd;
            border-top: 1px solid #ddd;
            border-radius: 0 0 8px 8px;
            padding: 10px;
            line-height: 2em;
            font-size: 0.8em;
            z-index: 9999999;}
        .Categories div > ul > li:hover .sub1 {
        display: block;}
.Header {
    border-bottom: 1px solid #ddd;}
    .Header .container > div {
        display: inline-block;}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
}
.App {
    font-family: sans-serif;
    text-align: center;
    padding: 0;}

.container {
    margin: auto;
    max-width: 1365px;
    position: relative;}