.TopBanner {
    height: 300px;
    margin: 20px 0;}
    .TopBanner > div {
        height: 100%;}
    .TopBanner img {
        max-height: 100%;
        border-radius: 5px;}
    .TopBanner .imagesList {
        height: 100%;
        display: inline-block;}
        .TopBanner #imagesList1 li {
            height: 100%;}
    .TopBanner #imagesList2 {
        margin-left: 10px;}
    .TopBanner #imagesList2 li:first-child {
        height: 67%;
        margin-bottom: 5%;}
    .TopBanner #imagesList2 li:last-child {
        height: 30%;}
.Popular {
    text-align: left;
    max-width: 1100px;
    margin: auto;}
    .Popular > span {
        padding-left: 10px;
        font-size: 1.5em;
        line-height: 2em;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
    .Popular .sort,
    .Popular .description,
    .Popular li h2,
    .Popular .basket,
    .Popular em {
        display: none;}
    .Popular li {
        display: inline-block;
        margin-bottom: 20px;
        width: 200px;
        vertical-align: top;}
    .Popular li > div {
        margin: 0 10px;
        text-align: right;}
    .Popular li img {
        width: 100%;
        display: block;
        margin-bottom: 8px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px 1px #bbb;}
    .Popular li:hover img {
        box-shadow: 0 0 6px 4px #bbb;
        opacity: 0.8;
        transition: box-shadow 1s;}
    .Popular li strong {
        margin: 0 3px 0 5px;}

.Logo {
    width: 50%;
    text-align: left;}
    .Logo img {
        height: 100px;
        vertical-align: middle; }

@media(max-width: 868px) {
    .Logo img {
        height: 70px;}
}
.Search {
    position: absolute;
    left: 0;
    top: 2em;
    width: 60%;
    margin: 0 20%;}
    .Search .wrapper {
        background: #ddd;
        border-radius: 20px;
        padding: 0 20px;}
        .Search input {
            font-size: 16px;
            outline: none;
            border: none;
            background: transparent;
            line-height: 2.2em;
            width: 100%;}
            .Search .wrapper:hover,
            .Search .wrapper:focus-within {
                background: white;
                border: 1px solid #ddd;}
@media(max-width: 868px) {
    .Search {
        top: 1em;}
}
@media(max-width: 635px) {
    .Search {
        top: 4em;
        width: 70%;
        margin: 0;
        left: 20%}
}
.UserInfo {
    width: 50%;
    text-align: right;}
    .UserInfo > div {
        display: inline-block;
        margin: 0 10px;}
    .UserInfo span {
        font-size: 0.8em;
        font-weight: 900;}
    .UserInfo i {
        font-size: 1.8em;
        vertical-align: middle;}

.Categories{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    margin-top: -15px;
    width: 100%;}
    .Categories a {
        color: black;}
    .Categories .nav {
        display: none;
        font-size: 1.4em;
        width: 20%;
        text-align: center;
        margin-bottom: 0.5em;}
    .Categories div > ul > li {
        display: inline-block;
        vertical-align: top;
        margin: 0 15px;
        line-height: 2.5em;
        cursor: pointer;}
    .Categories div > ul li:hover > a {
      border-bottom: 2px solid #000;}
        .Categories div > ul > li > a {
            padding-bottom: 8px;}
        .Categories div > ul > li .sub1 {
            position: absolute;
            display: none;
            background: #fff;
            border: 2px solid #ddd;
            border-top: 1px solid #ddd;
            border-radius: 0 0 8px 8px;
            padding: 10px;
            line-height: 2em;
            font-size: 0.8em;
            z-index: 9999999;}
        .Categories div > ul > li:hover .sub1 {
            display: block;}
@media (max-width: 868px) and (min-width: 635px), (min-width: 635px) and (hover: none){
    .Categories {
        padding-bottom: 20px;}
    .Categories div > ul > li > a {
        padding: 0;}
    .Categories a:not(:only-child):hover ~ .sub1 {
        display: none;}
    .Categories a:not(:only-child)::after {
        content: "\ea5b";
        pointer-events: none;
        position: absolute;
        bottom: -8px;
        margin-left: -50px;
        font-family: IcoFont;
        font-size: 1.5em;}
    .Categories div > ul li > ul.sub1 {
        margin-top: 20px;}
}
@media(max-width: 635px) {
    .Categories {
        text-align: left;
        margin-top: 0;
        overflow-y: scroll;
        overflow-x: hidden;}
    .Categories .nav {
        display: inline-block;}
    .Categories a:not(:only-child)::after {
        content: "\ea5d";
        pointer-events: none;
        position: absolute;
        right: 10px;
        font-family: IcoFont;
        font-size: 1.5em;}
    .Categories:hover div > ul {
        display: block;}
    .Categories div > ul {
        display: none;
        background: white;
        margin: 0;
        width: 100%;
        left: 0;
        text-align: left;
        z-index: 99999;
        position: relative;}
        .Categories div > ul li{
            display: block;}
        .Categories div > ul li:hover > a {
            border: none;}
        .Categories div > ul > li:hover .sub1 {
            left: 0;}
        .Categories a:not(:only-child):hover ~ .sub1 {
            left: 100%;}
        .Categories div > ul li > ul.sub1 {
                top: 0;
                left: 100%;
                display:block;
                border: none;
                font-size: 1em;
                line-height: inherit;
                min-height: 100%;
                padding: 0 15px;
                box-sizing: border-box;
                width: 100%;
                transition: left 0.5s;}
}
.Header {
    border-bottom: 1px solid #ddd;}
    .Header .container > div {
        display: inline-block;}
body {
    margin: 0;
    padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
}
.App {
    font-family: sans-serif;
    text-align: center;
    padding: 0;}

.container {
    margin: auto;
    max-width: 1365px;
    position: relative;}