.Content {
    margin: auto;
    max-width: 1365px;
    position: relative;
    padding: 0 10px;}
    
.Content > div {
    opacity: 0;}

#root.visible .Content > div {
    opacity: 1;
    transition: opacity 500ms;}