ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
}
.App {
    font-family: sans-serif;
    text-align: center;
    padding: 0;}

.container {
    margin: auto;
    max-width: 1365px;
    position: relative;}