.Footer {
    padding: 0 25% 50px;
    margin: 50px 0 0;
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: left;
    background: #dadeec;
    box-shadow: 0px -11px 17px 5px #dadeec;
    clear:both;}
    .Footer a {
        color: #9a98a9;}
    .Footer > ul > li {
        width: 25%;
        display: inline-block;
        vertical-align: top; }
    .Footer h1 {
        font-size: 1.4em;}
    .Footer li > div {
        padding: 0 30%;}
